<div>
  <button class="back-button" (click)="goBack()"> <i  class="back-icon"></i> Go back </button>
  <div class="card single-user" *ngFor='let user of iusers'>
    <img class="card-image" alt="user image" [src]="user.picture">
    <div class="card user">
      <div class="content">
        <p class="card-title">
          {{user.firstName +' '+ user.lastName | titlecase}}
          <i class="gender {{user.gender}}"></i>
        </p>
        <p>{{user.email}}</p>
        <p>{{user.phone}}</p>
      </div>
    </div>
  </div>
</div>
